@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}


<body>
   

    <main>
        <h2>Popüler Yemekler</h2>
        <div class="food-list">
            <!-- Yemek öğeleri buraya eklenecek -->
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Yemek Sipariş Sitesi</p>
    </footer>
</body>

