    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <style>
        body {
            background: #eee;
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }

        .login__forms {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            min-height: 100vh;
        }

        .login__box {
            display: flex;
            align-items: center;
            background: #fff;
            border-radius: 4px;
            padding: 0.875rem;
            margin-bottom: 1rem;
            width: 450px;
        }

            .login__box input {
                border: none;
                outline: none;
                padding: 0.45rem 0.875rem;
                font-family: 'Poppins', sans-serif;
                width: 100%;
            }

        .btn-container {
            display: flex; /* Butonları yan yana yerleştirir */
            justify-content: center; /* Ortalar */
            gap: 1rem; /* Butonlar arasına boşluk ekler */
        }

        .btn-login {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #3a3a3a;
            color: #fff;
            padding: 0.875rem;
            width: 12rem;
            box-shadow: 4px 4px #2a2a2a;
            cursor: pointer;
            font-family: 'Poppins', sans-serif;
            transition: 300ms;
            border: none;
        }

            .btn-login:hover {
                transform: translateY(7px);
                transition: 300ms;
            }

        .btn-register {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #3a3a3a;
            color: #fff;
            padding: 0.875rem;
            width: 12rem;
            box-shadow: 4px 4px #2a2a2a;
            cursor: pointer;
            font-family: 'Poppins', sans-serif;
            transition: 300ms;
            text-decoration: none; /* Altını çizmemek için */
        }

            .btn-register:hover {
                transform: translateY(7px);
                transition: 300ms;
            }

        .fs-20 {
            font-size: 24px;
        }
    </style>
</head>
<body>

    <div class="login__forms">
        <form action="" method="post">
            <div class="login__box">
                <ion-icon class="fs-20" name="person-outline"></ion-icon>
                <input type="text" name="username" placeholder="Kullanıcı Adı" autocomplete="off" required>
            </div>
            <div class="login__box">
                <ion-icon class="fs-20" name="lock-closed-outline"></ion-icon>
                <input type="password" name="password" placeholder="Şifre" required>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn-login
                    <ion-icon name="log-in-outline"></ion-icon>
                    <span>Giriş Yap</span>
                </button>
                <a href="/Account/Register" class="btn-register">
                    <ion-icon name="person-add-outline"></ion-icon>
                    <span>Kayıt Ol</span>
                </a>
            </div>
        </form>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
